In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\pranav\anaconda3\lib\site-packages (4.15.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\pranav\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\pranav\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\pranav\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\pranav\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\users\pranav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\pranav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\pranav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\pranav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\pranav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\pranav\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\pranav\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\users\pranav\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\pranav\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\pranav\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\pranav\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
!pip install webdriver-manager

Requirement already satisfied: webdriver-manager in c:\users\pranav\anaconda3\lib\site-packages (3.8.6)
Requirement already satisfied: requests in c:\users\pranav\anaconda3\lib\site-packages (from webdriver-manager) (2.29.0)
Requirement already satisfied: python-dotenv in c:\users\pranav\anaconda3\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: tqdm in c:\users\pranav\anaconda3\lib\site-packages (from webdriver-manager) (4.65.0)
Requirement already satisfied: packaging in c:\users\pranav\anaconda3\lib\site-packages (from webdriver-manager) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pranav\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pranav\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\pranav\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pranav\anaconda3\lib\site-packages (from requests->webdriver-manager) (2023.5.7)
Requirement already satisfied: colorama in c:\users\pranav\anaconda3\lib\site-packages (from tqdm->webdriver-manager) (0.4.6)

In [3]:
import selenium                                  #library that is used to work with selenium

from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window

import pandas as pd                              #to create DataFrame

from selenium.webdriver.common.by import By      #importing inbuilt class By 

import warnings                                  #to ignore any sort of warning

warnings.filterwarnings("ignore")

import time                                      #use to stop search engine for few seconds

In [4]:
driver = webdriver.Chrome()

In [5]:
driver.get("https://www.nike.com")

In [7]:
shoe = driver.find_element(By.XPATH,'/html/body/div[4]/div/div/div[2]/div[14]/div/div/div/div/div[2]/ul/li[1]/a')
shoe.click()

In [8]:
shoename = []

In [13]:
shoe_name=driver.find_elements(By.XPATH,'//a[@class="product-card__link-overlay"]')
for i in shoe_name[0:100]:
    shoe=i.text
    shoename.append(shoe)

In [14]:
shoename

['Air Jordan 1 Low SE',
 'Nike Dunk Low',
 'Jordan Stadium 90',
 'Nike Dunk Low Retro Premium',
 "Nike Blazer Low '77 Vintage",
 "Nike Air Force 1 '07",
 "Nike Air Force 1 '07 Pro Tech",
 'Nike Court Vision Low',
 "Nike Air Force 1 '07 LV8",
 'Nike Dunk Low SE',
 'Air Jordan 1 Low SE',
 'Nike Dunk Low',
 'Jordan Stadium 90',
 'Nike Dunk Low Retro Premium',
 "Nike Blazer Low '77 Vintage",
 "Nike Air Force 1 '07",
 "Nike Air Force 1 '07 Pro Tech",
 'Nike Court Vision Low',
 "Nike Air Force 1 '07 LV8",
 'Nike Dunk Low SE',
 'Nike Zoom Vomero 5',
 'Nike Air Max 1',
 "Nike Air Force 1 '07",
 'Nike Air Max SC SE',
 'Nike Air Max 1',
 'Air Jordan 1 Low SE',
 'Nike Air Max 1 LX',
 'NikeCourt Legacy',
 'Nike Air Max SC Leather',
 'Nike Dunk Low SE',
 'Nike Dunk Low Twist',
 'Nike Killshot 2 Leather',
 "Nike Blazer Low '77 Jumbo",
 'Nike SB Zoom Blazer Low Pro GT',
 'Air Jordan 1 Low SE',
 'Nike Dunk Low',
 'Jordan Stadium 90',
 'Nike Dunk Low Retro Premium',
 "Nike Blazer Low '77 Vintage",
 "Nike Air Force 1 '07",
 "Nike Air Force 1 '07 Pro Tech",
 'Nike Court Vision Low',
 "Nike Air Force 1 '07 LV8",
 'Nike Dunk Low SE',
 'Nike Zoom Vomero 5',
 'Nike Air Max 1',
 "Nike Air Force 1 '07",
 'Nike Air Max SC SE',
 'Nike Air Max 1',
 'Air Jordan 1 Low SE',
 'Nike Air Max 1 LX',
 'NikeCourt Legacy',
 'Nike Air Max SC Leather',
 'Nike Dunk Low SE',
 'Nike Dunk Low Twist',
 'Nike Killshot 2 Leather',
 "Nike Blazer Low '77 Jumbo",
 'Nike SB Zoom Blazer Low Pro GT',
 'Nike Air Force 1 Shadow',
 'Air Jordan 1 High OG',
 'Nike Revolution 7',
 'Nike Dunk Low SE',
 'Nike Go FlyEase',
 'Air Jordan 1 Low',
 'Jordan 1 Mid Alt',
 'Nike Air Force 1',
 "Air Jordan 1 'Next Chapter'",
 'Nike Court Vision Low',
 'Nike Air Max Cirro',
 'Nike Downshifter 12',
 'Nike Fly.By Mid 3',
 'Nike Court Vision Low',
 'Air Jordan 1 Mid',
 'Air Jordan 1 Elevate High',
 'Jordan Stay Loyal 2',
 'Nike Revolution 7',
 'Jordan One Take 4 PF',
 'Air Jordan 1 Low SE',
 'Nike Air Force 1 Low By You',
 'Nike Air Force 1 Low By You',
 'Nike Air Max Plus',
 'Paris Saint-Germain Jumpman MVP',
 'Air Jordan 1 Low',
 'Nike Dunk High Retro',
 "Luka 2 'Bred' PF",
 'Air Jordan 1 Mid',
 "Nike Air Force 1 '07 WB",
 'Nike Dunk Low',
 'Air Jordan 1',
 'Air Jordan 1 Zoom CMFT 2',
 'Air Jordan 1 Retro High OG',
 'Air Jordan Legacy 312 Low',
 'Nike Air Force 1 GTX',
 'Jordan Nu Retro 1 Low',
 "Nike Air Force 1 '07",
 'Nike Offcourt Adjust',
 'Nike Air Force 1 LE',
 "Tatum 1 'Home Team' PF",
 'Nike Dunk Low Unlocked By You',
 'Nike Dunk Low Unlocked By You',
 'Air Jordan 1 Mid SE',
 'Air Jordan 1 Low SE',
 'Jumpman MVP',
 'Nike Dunk Low',
 'Nike Alphafly 2',
 "Nike Air Force 1 '07",
 "Nike Air Force 1 '07",
 'Air Jordan 1 Mid SE',
 'AJKO 1',
 'Nike Zoom Bella 6 PRM',
 'Nike Air VaporMax 2023 Flyknit',
 "Nike Air Force 1 '07 EasyOn",
 'Air Jordan 1 Mid',
 'Nike Phantom GX Club',
 'Nike SB React Leo',
 "Nike Air Force 1 '07",
 "Nike Alphafly 2 'Eliud Kipchoge'",
 "Nike Blazer Mid '77",
 'Air Jordan 1 Mid SE',
 'Jordan Max Aura 5',
 'Nike Waffle Debut Vintage',
 'Nike Jr. Mercurial Vapor 15 Club',
 'Nike Dunk Low Retro',
 'Nike Invincible 3 By You',
 'Nike Invincible 3',
 'Nike Air More Uptempo',
 'Nike Dunk Low',
 'Nike Revolution 7',
 'Nike Metcon 9 EasyOn',
 'Zion 3 PF',
 'Nike Team Hustle D 11',
 'Nike Pico 5',
 'Freak 5 By You',
 'Freak 5 By You']

In [15]:
len(shoename)

134

In [21]:
shoename = shoename[:-34]

In [22]:
len(shoename)

100

In [23]:
shoetitle = []

In [24]:
shoe_title=driver.find_elements(By.XPATH,'//div[@class="product-card__subtitle"]')
for i in shoe_title[0:100]:
    shoes=i.text
    shoetitle.append(shoes)

In [25]:
shoetitle

["Women's Shoes",
 "Women's Shoes",
 "Women's Shoes",
 "Men's Shoes",
 "Men's Shoes",
 "Men's Shoes",
 "Men's Shoes",
 "Men's Shoes",
 "Men's Shoes",
 "Women's Shoes",
 "Women's Shoes",
 "Men's shoes",
 "Women's Shoes",
 "Women's Shoes",
 "Women's shoes",
 "Women's Shoes",
 "Women's Shoes",
 "Men's Shoes",
 "Men's Shoes",
 "Women's Shoes",
 "Women's Shoes",
 "Men's Shoe",
 "Men's Shoes",
 'Skate Shoes',
 "Women's Shoes",
 "Older Kids' Shoes",
 "Men's Road Running Shoes (Extra Wide)",
 "Women's Shoes",
 'Easy On/Off Shoes',
 "Women's Shoes",
 "Younger Kids' Shoes",
 "Older Kids' Shoes",
 "Men's Shoes",
 "Men's Shoes",
 "Men's Slides",
 "Men's Road Running Shoes",
 'Basketball Shoes',
 "Men's Shoes",
 "Men's Shoes",
 "Women's Shoes",
 "Men's Shoes",
 "Men's Road Running Shoes",
 "Men's Shoes",
 "Men's Shoes",
 "Custom Men's Shoes",
 "Custom Men's Shoes",
 'Shoes',
 "Men's Shoes",
 "Men's Shoes",
 "Men's Shoe",
 'Basketball Shoes',
 "Older Kids' Shoes",
 "Men's Shoe",
 "Men's Shoes",
 'Shoes',
 "Men's Shoes",
 "Men's Shoes",
 "Men's Shoes",
 'Shoes',
 "Men's Shoes",
 "Men's Shoes",
 "Men's Slides",
 "Older Kids' Shoe",
 'Basketball Shoes',
 "Custom Women's Shoes",
 "Custom Women's Shoes",
 "Women's Shoes",
 "Older Kids' Shoes",
 "Men's Shoes",
 "Men's Shoes",
 "Men's Road Racing Shoes",
 "Men's Shoes",
 "Men's Shoes",
 "Men's Shoes",
 "Men's Shoes",
 "Women's Training Shoes",
 "Women's Shoes",
 "Women's Shoes",
 'Shoes',
 'Multi-Ground Low-Top Football Boot',
 'Skate Shoes',
 "Men's Shoes",
 "Men's Road Racing Shoes",
 'Baby and Toddler Shoe',
 "Men's Shoes",
 "Men's Shoes",
 "Women's Shoes",
 "Younger/Older Kids' Multi-Ground Low-Top Football Boot",
 "Men's Shoes",
 "Custom Men's Road Running Shoes",
 "Men's Road Running Shoes (Extra Wide)",
 "Men's Slides",
 "Older Kids' Shoes",
 "Older Kids' Shoes",
 "Men's Workout Shoes",
 'Basketball Shoes',
 "Younger Kids' Shoes",
 'Baby & Toddler Shoes',
 'Custom Basketball Shoes',
 'Custom Basketball Shoes']

In [26]:
len(shoetitle)

100

In [27]:
color_nike = []

In [28]:
color_shoe = driver.find_elements(By.XPATH,'//div[@class="product-card__product-count"]')
for i in color_shoe[0:100]:
    color=i.text
    color_nike.append(color)

In [29]:
color_nike

['1 Colour',
 '1 Colour',
 '3 Colours',
 '1 Colour',
 '3 Colours',
 '2 Colours',
 '3 Colours',
 '1 Colour',
 '2 Colours',
 '1 Colour',
 '1 Colour',
 '5 Colours',
 '1 Colour',
 '1 Colour',
 '5 Colours',
 '2 Colours',
 '2 Colours',
 '4 Colours',
 '2 Colours',
 '1 Colour',
 '5 Colours',
 '2 Colours',
 '2 Colours',
 '3 Colours',
 '2 Colours',
 '2 Colours',
 '3 Colours',
 '1 Colour',
 '3 Colours',
 '3 Colours',
 '1 Colour',
 '6 Colours',
 '1 Colour',
 '1 Colour',
 '4 Colours',
 '4 Colours',
 '2 Colours',
 '1 Colour',
 '2 Colours',
 '4 Colours',
 '4 Colours',
 '6 Colours',
 '3 Colours',
 '1 Colour',
 '8 Colours',
 '10 Colours',
 '1 Colour',
 '1 Colour',
 '1 Colour',
 '1 Colour',
 '2 Colours',
 '3 Colours',
 '1 Colour',
 '1 Colour',
 '2 Colours',
 '6 Colours',
 '2 Colours',
 '4 Colours',
 '1 Colour',
 '2 Colours',
 '1 Colour',
 '2 Colours',
 '1 Colour',
 '2 Colours',
 '8 Colours',
 '1 Colour',
 '2 Colours',
 '1 Colour',
 '3 Colours',
 '1 Colour',
 '3 Colours',
 '1 Colour',
 '1 Colour',
 '1 Colour',
 '2 Colours',
 '1 Colour',
 '4 Colours',
 '1 Colour',
 '1 Colour',
 '2 Colours',
 '3 Colours',
 '1 Colour',
 '1 Colour',
 '2 Colours',
 '1 Colour',
 '5 Colours',
 '1 Colour',
 '2 Colours',
 '1 Colour',
 '4 Colours',
 '2 Colours',
 '1 Colour',
 '3 Colours',
 '6 Colours',
 '1 Colour',
 '3 Colours',
 '5 Colours',
 '3 Colours',
 '1 Colour',
 '6 Colours']

In [32]:
price_nike=[]

In [33]:
price = driver.find_elements(By.XPATH,'//div[@class="product-price in__styling is--current-price css-11s12ax"]')
for i in price[0:100]:
    prices=i.text
    price_nike.append(prices)

In [34]:
price_nike

['MRP : ₹ 10 295.00',
 'MRP : ₹ 8 695.00',
 'MRP : ₹ 12 795.00',
 'MRP : ₹ 9 695.00',
 'MRP : ₹ 7 195.00',
 'MRP : ₹ 7 495.00',
 'MRP : ₹ 13 995.00',
 'MRP : ₹ 5 695.00',
 'MRP : ₹ 10 795.00',
 'MRP : ₹ 9 695.00',
 'MRP : ₹ 16 995.00',
 'MRP : ₹ 12 795.00',
 'MRP : ₹ 9 695.00',
 'MRP : ₹ 7 495.00',
 'MRP : ₹ 12 795.00',
 'MRP : ₹ 10 295.00',
 'MRP : ₹ 14 995.00',
 'MRP : ₹ 5 695.00',
 'MRP : ₹ 6 795.00',
 'MRP : ₹ 9 695.00',
 'MRP : ₹ 9 695.00',
 'MRP : ₹ 7 995.00',
 'MRP : ₹ 8 595.00',
 'MRP : ₹ 6 795.00',
 'MRP : ₹ 8 995.00',
 'MRP : ₹ 10 295.00',
 'MRP : ₹ 3 695.00',
 'MRP : ₹ 9 695.00',
 'MRP : ₹ 11 895.00',
 'MRP : ₹ 8 295.00',
 'MRP : ₹ 5 995.00',
 'MRP : ₹ 5 995.00',
 'MRP : ₹ 18 395.00',
 'MRP : ₹ 5 695.00',
 'MRP : ₹ 3 695.00',
 'MRP : ₹ 3 995.00',
 'MRP : ₹ 4 995.00',
 'MRP : ₹ 5 695.00',
 'MRP : ₹ 11 495.00',
 'MRP : ₹ 14 195.00',
 'MRP : ₹ 10 295.00',
 'MRP : ₹ 3 695.00',
 'MRP : ₹ 8 695.00',
 'MRP : ₹ 10 295.00',
 'MRP : ₹ 10 795.00',
 'MRP : ₹ 10 795.00',
 'MRP : ₹ 18 395.00',
 'MRP : ₹ 15 295.00',
 'MRP : ₹ 8 995.00',
 'MRP : ₹ 9 295.00',
 'MRP : ₹ 11 895.00',
 'MRP : ₹ 7 995.00',
 'MRP : ₹ 10 995.00',
 'MRP : ₹ 8 695.00',
 'MRP : ₹ 17 595.00',
 'MRP : ₹ 13 295.00',
 'MRP : ₹ 16 995.00',
 'MRP : ₹ 12 995.00',
 'MRP : ₹ 14 995.00',
 'MRP : ₹ 9 195.00',
 'MRP : ₹ 11 895.00',
 'MRP : ₹ 3 195.00',
 'MRP : ₹ 6 295.00',
 'MRP : ₹ 10 795.00',
 'MRP : ₹ 13 995.00',
 'MRP : ₹ 13 995.00',
 'MRP : ₹ 12 295.00',
 'MRP : ₹ 8 295.00',
 'MRP : ₹ 15 295.00',
 'MRP : ₹ 11 895.00',
 'MRP : ₹ 22 795.00',
 'MRP : ₹ 9 695.00',
 'MRP : ₹ 9 695.00',
 'MRP : ₹ 12 295.00',
 'MRP : ₹ 12 795.00',
 'MRP : ₹ 8 495.00',
 'MRP : ₹ 19 295.00',
 'MRP : ₹ 9 695.00',
 'MRP : ₹ 11 495.00',
 'MRP : ₹ 5 495.00',
 'MRP : ₹ 8 595.00',
 'MRP : ₹ 9 695.00',
 'MRP : ₹ 22 795.00',
 'MRP : ₹ 4 495.00',
 'MRP : ₹ 12 295.00',
 'MRP : ₹ 11 895.00',
 'MRP : ₹ 7 095.00',
 'MRP : ₹ 3 695.00',
 'MRP : ₹ 8 695.00',
 'MRP : ₹ 19 295.00',
 'MRP : ₹ 16 995.00',
 'MRP : ₹ 8 495.00',
 'MRP : ₹ 6 995.00',
 'MRP : ₹ 3 495.00',
 'MRP : ₹ 12 795.00',
 'MRP : ₹ 12 795.00',
 'MRP : ₹ 4 495.00',
 'MRP : ₹ 2 495.00',
 'MRP : ₹ 14 995.00',
 'MRP : ₹ 14 995.00']

In [36]:
mrp_values_nike = [price.split('₹ ')[1].replace(',', '') for price in price_nike]

In [37]:
for mrp_value in mrp_values_nike:
    print(mrp_value)

10 295.00
8 695.00
12 795.00
9 695.00
7 195.00
7 495.00
13 995.00
5 695.00
10 795.00
9 695.00
16 995.00
12 795.00
9 695.00
7 495.00
12 795.00
10 295.00
14 995.00
5 695.00
6 795.00
9 695.00
9 695.00
7 995.00
8 595.00
6 795.00
8 995.00
10 295.00
3 695.00
9 695.00
11 895.00
8 295.00
5 995.00
5 995.00
18 395.00
5 695.00
3 695.00
3 995.00
4 995.00
5 695.00
11 495.00
14 195.00
10 295.00
3 695.00
8 695.00
10 295.00
10 795.00
10 795.00
18 395.00
15 295.00
8 995.00
9 295.00
11 895.00
7 995.00
10 995.00
8 695.00
17 595.00
13 295.00
16 995.00
12 995.00
14 995.00
9 195.00
11 895.00
3 195.00
6 295.00
10 795.00
13 995.00
13 995.00
12 295.00
8 295.00
15 295.00
11 895.00
22 795.00
9 695.00
9 695.00
12 295.00
12 795.00
8 495.00
19 295.00
9 695.00
11 495.00
5 495.00
8 595.00
9 695.00
22 795.00
4 495.00
12 295.00
11 895.00
7 095.00
3 695.00
8 695.00
19 295.00
16 995.00
8 495.00
6 995.00
3 495.00
12 795.00
12 795.00
4 495.00
2 495.00
14 995.00
14 995.00

In [39]:
len(mrp_values_nike)

100

In [42]:
df1 = pd.DataFrame({'ShoeName':shoename,'Category(Men/Women)':shoetitle,'no of colors':color_nike,'Price in Rs':mrp_values_nike})

In [43]:
df1

,ShoeName,Category(Men/Women),no of colors,Price in Rs
0,Air Jordan 1 Low SE,Women's Shoes,1 Colour,10 295.00
1,Nike Dunk Low,Women's Shoes,1 Colour,8 695.00
2,Jordan Stadium 90,Women's Shoes,3 Colours,12 795.00
3,Nike Dunk Low Retro Premium,Men's Shoes,1 Colour,9 695.00
4,Nike Blazer Low '77 Vintage,Men's Shoes,3 Colours,7 195.00
...,...,...,...,...
95,Nike Offcourt Adjust,Basketball Shoes,3 Colours,12 795.00
96,Nike Air Force 1 LE,Younger Kids' Shoes,5 Colours,4 495.00
97,Tatum 1 'Home Team' PF,Baby & Toddler Shoes,3 Colours,2 495.00
98,Nike Dunk Low Unlocked By You,Custom Basketball Shoes,1 Colour,14 995.00
99,Nike Dunk Low Unlocked By You,Custom Basketball Shoes,6 Colours,14 995.00

ADIDAS

In [44]:
import selenium                                  #library that is used to work with selenium

from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window

import pandas as pd                              #to create DataFrame

from selenium.webdriver.common.by import By      #importing inbuilt class By 

import warnings                                  #to ignore any sort of warning

warnings.filterwarnings("ignore")

import time

In [45]:
driver = webdriver.Chrome()

In [46]:
driver.get("https://www.adidas.com")

In [47]:
footwear=driver.find_element(By.CLASS_NAME,"_navigation_link_1rbeu_1")
footwear.click()

In [48]:
title_adidas = []

In [49]:
title_shoes=driver.find_elements(By.XPATH,'//p[@class="glass-product-card__title"]')
for i in title_shoes[0:100]:
    title=i.text
    title_adidas.append(title)

In [50]:
title_adidas

['Superstar Shoes',
 'Superstar Shoes',
 'Samba OG Shoes',
 'Samba OG Shoes',
 'Superstar Shoes',
 'Galaxy 6 Shoes',
 'Ultraboost Light',
 'Ultimashow Shoes',
 'WIND RAISER SHOES',
 'FLUIDFLOW 2.0 RUNNING SHOE',
 'STUNICON SHOES',
 'Ultraboost 1.0 Shoes',
 'ADI ZOOM SHOES',
 'RAYRUN SHOES',
 'HYPERON 1.0 SHOES',
 'Grand Court Cloudfoam Comfort Shoes',
 'Pureboost 22 Shoes',
 'Daily 3.0 Shoes',
 'Ultraboost 1.0 Shoes',
 'Adilette Slides',
 'Lite Racer Adapt 4.0 Cloudfoam Slip-On Shoes',
 'FLODEAN SHOES',
 'Adilette Comfort Slides',
 'Adilette Comfort Slides',
 'RAYRUN SHOES',
 'SHEENWALK SHOES',
 'SOLARGLIDE 6 Shoes',
 'Predator Accuracy.3 Low Firm Ground Boots',
 'NMD_R1 Shoes',
 'AMPLIGY SHOES',
 'Ultimashow Shoes',
 'SHEENWALK SHOES',
 'Ultimashow Shoes',
 'Duramo 10 Shoes',
 'FAZTCORTSHOES',
 'VS Pace 2.0 Shoes',
 'Advantage Base Court Lifestyle Shoes',
 'Gazelle Shoes',
 'Ultimashow Shoes',
 'Web BOOST Shoes',
 'NMD_R1 Shoes',
 'NMD_R1 Shoes',
 'Samba Shoes',
 'Samba OG Shoes',
 'Stan Smith Shoes',
 'Forum Low Shoes',
 'Y-3 Gendo Pro Model',
 'Y-3 Gendo Pro Model']

In [51]:
len(title_adidas)

48

In [57]:
category_adidas = []

In [58]:
category_shoes=driver.find_elements(By.XPATH,'//p[@class="glass-product-card__category"]')
for i in category_shoes[0:100]:
    category=i.text
    category_adidas.append(category)

In [59]:
category_adidas

['originals',
 'Women Lifestyle',
 'originals',
 'originals',
 'Men originals',
 'Men Running',
 'Men Running',
 'Men sportswear',
 'Men Running',
 'Men Running',
 'Men Running',
 'Men sportswear',
 'Men Running',
 'Women Running',
 'Men Running',
 'Men sportswear',
 'Running',
 'Men Skateboarding',
 'Men sportswear',
 'Men Lifestyle',
 'Men Running',
 'Men Walking',
 'sportswear',
 'sportswear',
 'Women Running',
 'Women Walking',
 'Men Running',
 'Football',
 'Men originals',
 'Men Running',
 'Women Running',
 'Women Running',
 'Men sportswear',
 'Men Running',
 'Men Tennis',
 'Men Skateboarding',
 'Men sportswear',
 'originals',
 'Men sportswear',
 'Running',
 'Men originals',
 'originals',
 'Men originals',
 'Men originals',
 'originals',
 'originals',
 'Lifestyle',
 'Lifestyle']

In [60]:
len(category_adidas)

48

In [61]:
color_adidas = []

In [62]:
color = driver.find_elements(By.XPATH,'//p[@class="glass-product-card__label"]')
for i in color[0:100]:
    colors=i.text
    color_adidas.append(colors)

In [63]:
color_adidas

['2 colours',
 '',
 '4 colours',
 '4 colours',
 '2 colours',
 '11 colours',
 '3 colours',
 '3 colours',
 '',
 '',
 '',
 '',
 '5 colours',
 '2 colours',
 '2 colours',
 '4 colours',
 '2 colours',
 '8 colours',
 '4 colours',
 '2 colours',
 '5 colours',
 '3 colours',
 '4 colours',
 '4 colours',
 '2 colours',
 '2 colours',
 '5 colours',
 '',
 '2 colours',
 '3 colours',
 '4 colours',
 '2 colours',
 '3 colours',
 '3 colours',
 '',
 '7 colours',
 '2 colours',
 '',
 '3 colours',
 '2 colours',
 '2 colours',
 '3 colours',
 '7 colours · new',
 '4 colours · new',
 '4 colours',
 '2 colours',
 '2 colours',
 '2 colours']

In [65]:
len(color_adidas)

48

In [66]:
price_adidas = []

In [73]:
price=driver.find_elements(By.XPATH,'//div[@class="gl-price-item notranslate"]')
for i in price[0:100]:
    prices=i.text
    price_adidas.append(prices)

In [74]:
price_adidas

['₹8 999.00',
 '₹10 999.00',
 '₹11 999.00',
 '₹8 999.00',
 '₹17 999.00',
 '₹17 999.00',
 '₹3 299.00',
 '₹3 999.00',
 '₹3 599.00',
 '₹3 599.00',
 '₹10 999.00',
 '₹14 999.00',
 '₹14 999.00',
 '₹10 999.00',
 '₹8 999.00',
 '₹9 999.00',
 '₹69 999.00',
 '₹69 999.00',
 '₹8 999.00',
 '₹10 999.00',
 '₹11 999.00',
 '₹8 999.00',
 '₹17 999.00',
 '₹17 999.00',
 '₹3 299.00',
 '₹3 999.00',
 '₹3 599.00',
 '₹3 599.00',
 '₹10 999.00',
 '₹14 999.00',
 '₹14 999.00',
 '₹10 999.00',
 '₹8 999.00',
 '₹9 999.00',
 '₹69 999.00',
 '₹69 999.00',
 '₹8 999.00',
 '₹10 999.00',
 '₹11 999.00',
 '₹8 999.00',
 '₹17 999.00',
 '₹17 999.00',
 '₹3 299.00',
 '₹3 999.00',
 '₹3 599.00',
 '₹3 599.00',
 '₹10 999.00',
 '₹14 999.00',
 '₹14 999.00',
 '₹10 999.00',
 '₹8 999.00',
 '₹9 999.00',
 '₹69 999.00',
 '₹69 999.00']

In [75]:
len(price_adidas)

54

In [76]:
price_adidas_without_rupee = [price.replace('₹', '').strip() for price in price_adidas]

In [80]:
for price in price_adidas_without_rupee:
    print(price)

8 999.00
10 999.00
11 999.00
8 999.00
17 999.00
17 999.00
3 299.00
3 999.00
3 599.00
3 599.00
10 999.00
14 999.00
14 999.00
10 999.00
8 999.00
9 999.00
69 999.00
69 999.00
8 999.00
10 999.00
11 999.00
8 999.00
17 999.00
17 999.00
3 299.00
3 999.00
3 599.00
3 599.00
10 999.00
14 999.00
14 999.00
10 999.00
8 999.00
9 999.00
69 999.00
69 999.00
8 999.00
10 999.00
11 999.00
8 999.00
17 999.00
17 999.00
3 299.00
3 999.00
3 599.00
3 599.00
10 999.00
14 999.00
14 999.00
10 999.00
8 999.00
9 999.00
69 999.00
69 999.00

In [82]:
price_adidas_without_rupee

['8 999.00',
 '10 999.00',
 '11 999.00',
 '8 999.00',
 '17 999.00',
 '17 999.00',
 '3 299.00',
 '3 999.00',
 '3 599.00',
 '3 599.00',
 '10 999.00',
 '14 999.00',
 '14 999.00',
 '10 999.00',
 '8 999.00',
 '9 999.00',
 '69 999.00',
 '69 999.00',
 '8 999.00',
 '10 999.00',
 '11 999.00',
 '8 999.00',
 '17 999.00',
 '17 999.00',
 '3 299.00',
 '3 999.00',
 '3 599.00',
 '3 599.00',
 '10 999.00',
 '14 999.00',
 '14 999.00',
 '10 999.00',
 '8 999.00',
 '9 999.00',
 '69 999.00',
 '69 999.00',
 '8 999.00',
 '10 999.00',
 '11 999.00',
 '8 999.00',
 '17 999.00',
 '17 999.00',
 '3 299.00',
 '3 999.00',
 '3 599.00',
 '3 599.00',
 '10 999.00',
 '14 999.00',
 '14 999.00',
 '10 999.00',
 '8 999.00',
 '9 999.00',
 '69 999.00',
 '69 999.00']

In [83]:
len(price_adidas_without_rupee)

54

In [85]:
price_adidas_without_rupee=price_adidas_without_rupee[:-6]

In [86]:
len(price_adidas_without_rupee)

48

In [87]:
df2 = pd.DataFrame({'ShoeName':title_adidas,'Category(Men/Women)':category_adidas,'no of colors':color_adidas,'Price in Rs':price_adidas_without_rupee})

In [88]:
df2

,ShoeName,Category(Men/Women),no of colors,Price in Rs
0,Superstar Shoes,originals,2 colours,8 999.00
1,Superstar Shoes,Women Lifestyle,,10 999.00
2,Samba OG Shoes,originals,4 colours,11 999.00
3,Samba OG Shoes,originals,4 colours,8 999.00
4,Superstar Shoes,Men originals,2 colours,17 999.00
5,Galaxy 6 Shoes,Men Running,11 colours,17 999.00
6,Ultraboost Light,Men Running,3 colours,3 299.00
7,Ultimashow Shoes,Men sportswear,3 colours,3 999.00
8,WIND RAISER SHOES,Men Running,,3 599.00
9,FLUIDFLOW 2.0 RUNNING SHOE,Men Running,,3 599.00
10,STUNICON SHOES,Men Running,,10 999.00
11,Ultraboost 1.0 Shoes,Men sportswear,,14 999.00
12,ADI ZOOM SHOES,Men Running,5 colours,14 999.00
13,RAYRUN SHOES,Women Running,2 colours,10 999.00
14,HYPERON 1.0 SHOES,Men Running,2 colours,8 999.00
15,Grand Court Cloudfoam Comfort Shoes,Men sportswear,4 colours,9 999.00
16,Pureboost 22 Shoes,Running,2 colours,69 999.00
17,Daily 3.0 Shoes,Men Skateboarding,8 colours,69 999.00
18,Ultraboost 1.0 Shoes,Men sportswear,4 colours,8 999.00
19,Adilette Slides,Men Lifestyle,2 colours,10 999.00
20,Lite Racer Adapt 4.0 Cloudfoam Slip-On Shoes,Men Running,5 colours,11 999.00
21,FLODEAN SHOES,Men Walking,3 colours,8 999.00
22,Adilette Comfort Slides,sportswear,4 colours,17 999.00
23,Adilette Comfort Slides,sportswear,4 colours,17 999.00
24,RAYRUN SHOES,Women Running,2 colours,3 299.00
25,SHEENWALK SHOES,Women Walking,2 colours,3 999.00
26,SOLARGLIDE 6 Shoes,Men Running,5 colours,3 599.00
27,Predator Accuracy.3 Low Firm Ground Boots,Football,,3 599.00
28,NMD_R1 Shoes,Men originals,2 colours,10 999.00
29,AMPLIGY SHOES,Men Running,3 colours,14 999.00
30,Ultimashow Shoes,Women Running,4 colours,14 999.00
31,SHEENWALK SHOES,Women Running,2 colours,10 999.00
32,Ultimashow Shoes,Men sportswear,3 colours,8 999.00
33,Duramo 10 Shoes,Men Running,3 colours,9 999.00
34,FAZTCORTSHOES,Men Tennis,,69 999.00
35,VS Pace 2.0 Shoes,Men Skateboarding,7 colours,69 999.00
36,Advantage Base Court Lifestyle Shoes,Men sportswear,2 colours,8 999.00
37,Gazelle Shoes,originals,,10 999.00
38,Ultimashow Shoes,Men sportswear,3 colours,11 999.00
39,Web BOOST Shoes,Running,2 colours,8 999.00
40,NMD_R1 Shoes,Men originals,2 colours,17 999.00
41,NMD_R1 Shoes,originals,3 colours,17 999.00
42,Samba Shoes,Men originals,7 colours · new,3 299.00
43,Samba OG Shoes,Men originals,4 colours · new,3 999.00
44,Stan Smith Shoes,originals,4 colours,3 599.00
45,Forum Low Shoes,originals,2 colours,3 599.00
46,Y-3 Gendo Pro Model,Lifestyle,2 colours,10 999.00
47,Y-3 Gendo Pro Model,Lifestyle,2 colours,14 999.00

In [89]:
import selenium                                  #library that is used to work with selenium

from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window

import pandas as pd                              #to create DataFrame

from selenium.webdriver.common.by import By      #importing inbuilt class By 

import warnings                                  #to ignore any sort of warning

warnings.filterwarnings("ignore")

import time

In [90]:
driver = webdriver.Chrome()

In [91]:
driver.get("https://us.puma.com/us/en")

In [96]:
title_puma = []

In [97]:
title_pumas=driver.find_elements(By.XPATH,'//h3[@class="w-full mobile:text-sm mobile:pr-0 font-bold text-base pr-5 line-clamp-2"]')
for i in title_pumas[0:100]:
    title=i.text
    title_puma.append(title)

In [98]:
title_puma

["Mayze Mix Women's Sneakers\nPUMA White-Rosebay",
 "Mayze Mix Women's Sneakers\nPUMA White-Ultraviolet",
 "Mayze Crashed Women's Sneakers\nPUMA White-Grape Mist",
 'Cali Dream Animal Print Youth Sneakers\nPUMA White-Peach Smoothie',
 "Mayze Crashed PRM Women's Sneakers\nWarm White",
 'PUMA x STAPLE B Suede Unisex Sneakers\nDark Chocolate-Rhubarb',
 "Suede VTG TheNeverWorn II Men's Sneakers\nPUMA Navy-Light Straw",
 'PUMA x PERKS AND MINI Suede VTG Unisex Sneakers\nPUMA Black-Fresh Pear',
 'CA Pro OW Unisex Sneakers\nPUMA White-Chocolate Chip-Puma Team Gold',
 'MMQ Service Line Clyde Unisex Sneakers\nPUMA White',
 'CA Pro Lux II Unisex Sneakers\nDark Coal-PUMA Black-Vapor Gray',
 'Clyde OG 75Y PRM Unisex Sneakers\nPUMA Black-PUMA Black',
 "Mayze Forward History Women's Sneakers\nWarm White",
 'Clyde Hairy Suede Unisex Sneakers\nPUMA Black-Frosted Ivory',
 'Clyde Hairy Suede Unisex Sneakers\nSedate Gray-Cashew',
 "Mayze Mix Women's Sneakers\nPUMA White-Icy Blue",
 'Speedcat Shield SD Unisex Driving Shoes\nAsh Gray-For All Time Red-PUMA Black',
 "Cali Court Match Women's Sneakers\nPUMA White-Archive Green",
 'Speedcat Shield SD Unisex Driving Shoes\nMyrtle-Myrtle-PUMA Black',
 "Clyde's Closet All-Pro NITRO Unisex Basketball Shoes\nAlpine Snow",
 'PUMA x DAPPER DAN Clyde Unisex Sneakers\nPUMA Black-PUMA Black-Burnt Red',
 "PUMA Cali Court Patent Women's Sneakers\nPUMA White",
 "PUMA Cali Court Patent Women's Sneakers\nPUMA Black-PUMA White",
 'Scuderia Ferrari Clyde Unisex Sneakers\nRosso Corsa-Warm White',
 "Mayze Stack Beach Days Women's Sandals\nIcy Blue-Spring Fern",
 'Speedcat Shield Unisex Sneakers\nPUMA White-PUMA Black-Vapor Gray',
 'Porsche Legacy Speedcat Unisex Driving Shoes\nPUMA Black-PUMA Black-Lemon Chrome',
 "Mayze Crashed PRM Women's Sneakers\nPUMA White",
 'Clyde OG 75Y PRM Unisex Sneakers\nSedate Gray-Sedate Gray',
 'Clyde OG 75Y Unisex Sneakers\nPersian Blue-Orange Brick',
 "Mayze OW Women's Sneakers\nPUMA White-Strawberry Burst-Ravish",
 "Cali Dream Pastel Women's Sneakers\nPUMA White-Sedate Gray",
 'CA Pro Sport Unisex Sneakers\nPUMA White-PUMA Black-Concrete Gray',
 "Mayze Classic Women's Sneakers\nPuma Black",
 "Clyde's Closet Court Rider Unisex Basketball Shoes\nClyde Royal-Harbor Mist-PUMA Black-Fire Orchid",
 "Mayze Chelsea Women's Jelly Boots\nPUMA Black",
 "PUMA x lemlem Suede Women's Sneakers\nFrosty Pink-Ghost Pepper",
 "PUMA x THE SMURFS Mayze Women's Sneakers\nWarm White-Flaxen",
 'PUMA x THE SMURFS Suede Unisex Sneakers\nPumpkin Pie-Puma Black',
 'Mayze Sweater Weather Youth Sneakers\nPUMA White-Blissful Blue-Peach Smoothie',
 'Mayze Sweater Weather Youth Sneakers\nPUMA Black-Future Pink-Green Fog',
 'Cali Dream Starry Night Youth Sneakers\nPUMA Black-PUMA White',
 "Mayze Classic Women's Sneakers\nPuma White",
 "Mayze Tomorrowland Fashion Women's Sneakers\nPUMA White",
 "Mayze Beach Days Women's Sneakers\nPUMA White-Frosty Pink",
 'Cali Dream Starry Night Youth Sneakers\nPUMA White-Strawberry Burst',
 "Cali Dream Clean Women's Sneakers\nPUMA White-Peach Smoothie",
 "Cali Court Match Women's Sneakers\nPUMA White-Granola"]

In [99]:
len(title_puma)

48

In [103]:
categories = []

In [104]:
for title in title_puma:
    if "Men's" in title or "Unisex" in title:
        categories.append('men')
    elif "Women's" in title:
        categories.append('women')
    else:
        categories.append('unknown')

In [105]:
print(categories)

['women', 'women', 'women', 'unknown', 'women', 'men', 'men', 'men', 'men', 'men', 'men', 'men', 'women', 'men', 'men', 'women', 'men', 'women', 'men', 'men', 'men', 'women', 'women', 'men', 'women', 'men', 'men', 'women', 'men', 'men', 'women', 'women', 'men', 'women', 'men', 'women', 'women', 'women', 'men', 'unknown', 'unknown', 'unknown', 'women', 'women', 'women', 'unknown', 'women', 'women']

In [106]:
len(categories)

48

In [107]:
colors_puma = []

In [110]:
color_pumas=driver.find_elements(By.XPATH,'//span[@class="group-hover:hidden group-focus-within:hidden text-puma-black-300 uppercase text-xs whitespace-nowrap"]')
for i in color_pumas[0:100]:
    color=i.text
    colors_puma.append(color)

In [111]:
len(colors_puma)

60

In [112]:
colors_puma = colors_puma[:-12]

In [113]:
len(colors_puma)

48

In [114]:
colors_puma

['4 COLORS',
 '4 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '4 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '4 COLORS',
 '4 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '4 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS',
 '2 COLORS']

In [115]:
df3 = pd.DataFrame({'ShoeName':title_puma,'Category(Men/Women)':categories,'no of colors':colors_puma,'Price in Rs':price_adidas_without_rupee})

In [116]:
df3

,ShoeName,Category(Men/Women),no of colors,Price in Rs
0,Mayze Mix Women's Sneakers\nPUMA White-Rosebay,women,4 COLORS,8 999.00
1,Mayze Mix Women's Sneakers\nPUMA White-Ultravi...,women,4 COLORS,10 999.00
2,Mayze Crashed Women's Sneakers\nPUMA White-Gra...,women,2 COLORS,11 999.00
3,Cali Dream Animal Print Youth Sneakers\nPUMA W...,unknown,2 COLORS,8 999.00
4,Mayze Crashed PRM Women's Sneakers\nWarm White,women,2 COLORS,17 999.00
5,PUMA x STAPLE B Suede Unisex Sneakers\nDark Ch...,men,2 COLORS,17 999.00
6,Suede VTG TheNeverWorn II Men's Sneakers\nPUMA...,men,2 COLORS,3 299.00
7,PUMA x PERKS AND MINI Suede VTG Unisex Sneaker...,men,4 COLORS,3 999.00
8,CA Pro OW Unisex Sneakers\nPUMA White-Chocolat...,men,2 COLORS,3 599.00
9,MMQ Service Line Clyde Unisex Sneakers\nPUMA W...,men,2 COLORS,3 599.00
10,CA Pro Lux II Unisex Sneakers\nDark Coal-PUMA ...,men,2 COLORS,10 999.00
11,Clyde OG 75Y PRM Unisex Sneakers\nPUMA Black-P...,men,2 COLORS,14 999.00
12,Mayze Forward History Women's Sneakers\nWarm W...,women,2 COLORS,14 999.00
13,Clyde Hairy Suede Unisex Sneakers\nPUMA Black-...,men,2 COLORS,10 999.00
14,Clyde Hairy Suede Unisex Sneakers\nSedate Gray...,men,2 COLORS,8 999.00
15,Mayze Mix Women's Sneakers\nPUMA White-Icy Blue,women,2 COLORS,9 999.00
16,Speedcat Shield SD Unisex Driving Shoes\nAsh G...,men,2 COLORS,69 999.00
17,Cali Court Match Women's Sneakers\nPUMA White-...,women,2 COLORS,69 999.00
18,Speedcat Shield SD Unisex Driving Shoes\nMyrtl...,men,2 COLORS,8 999.00
19,Clyde's Closet All-Pro NITRO Unisex Basketball...,men,2 COLORS,10 999.00
20,PUMA x DAPPER DAN Clyde Unisex Sneakers\nPUMA ...,men,2 COLORS,11 999.00
21,PUMA Cali Court Patent Women's Sneakers\nPUMA ...,women,2 COLORS,8 999.00
22,PUMA Cali Court Patent Women's Sneakers\nPUMA ...,women,2 COLORS,17 999.00
23,Scuderia Ferrari Clyde Unisex Sneakers\nRosso ...,men,2 COLORS,17 999.00
24,Mayze Stack Beach Days Women's Sandals\nIcy Bl...,women,4 COLORS,3 299.00
25,Speedcat Shield Unisex Sneakers\nPUMA White-PU...,men,4 COLORS,3 999.00
26,Porsche Legacy Speedcat Unisex Driving Shoes\n...,men,2 COLORS,3 599.00
27,Mayze Crashed PRM Women's Sneakers\nPUMA White,women,2 COLORS,3 599.00
28,Clyde OG 75Y PRM Unisex Sneakers\nSedate Gray-...,men,2 COLORS,10 999.00
29,Clyde OG 75Y Unisex Sneakers\nPersian Blue-Ora...,men,2 COLORS,14 999.00
30,Mayze OW Women's Sneakers\nPUMA White-Strawber...,women,2 COLORS,14 999.00
31,Cali Dream Pastel Women's Sneakers\nPUMA White...,women,4 COLORS,10 999.00
32,CA Pro Sport Unisex Sneakers\nPUMA White-PUMA ...,men,2 COLORS,8 999.00
33,Mayze Classic Women's Sneakers\nPuma Black,women,2 COLORS,9 999.00
34,Clyde's Closet Court Rider Unisex Basketball S...,men,2 COLORS,69 999.00
35,Mayze Chelsea Women's Jelly Boots\nPUMA Black,women,2 COLORS,69 999.00
36,PUMA x lemlem Suede Women's Sneakers\nFrosty P...,women,2 COLORS,8 999.00
37,PUMA x THE SMURFS Mayze Women's Sneakers\nWarm...,women,2 COLORS,10 999.00
38,PUMA x THE SMURFS Suede Unisex Sneakers\nPumpk...,men,2 COLORS,11 999.00
39,Mayze Sweater Weather Youth Sneakers\nPUMA Whi...,unknown,2 COLORS,8 999.00
40,Mayze Sweater Weather Youth Sneakers\nPUMA Bla...,unknown,2 COLORS,17 999.00
41,Cali Dream Starry Night Youth Sneakers\nPUMA B...,unknown,2 COLORS,17 999.00
42,Mayze Classic Women's Sneakers\nPuma White,women,2 COLORS,3 299.00
43,Mayze Tomorrowland Fashion Women's Sneakers\nP...,women,2 COLORS,3 999.00
44,Mayze Beach Days Women's Sneakers\nPUMA White-...,women,2 COLORS,3 599.00
45,Cali Dream Starry Night Youth Sneakers\nPUMA W...,unknown,2 COLORS,3 599.00
46,Cali Dream Clean Women's Sneakers\nPUMA White-...,women,2 COLORS,10 999.00
47,Cali Court Match Women's Sneakers\nPUMA White-...,women,2 COLORS,14 999.00

In [131]:
len(df1)

100

In [132]:
len(df2)

48

In [133]:
len(df3)

48

In [152]:
merged_df = pd.merge(df1, df2, on='ShoeName', how='outer')

In [153]:
merged_df

,ShoeName,Category(Men/Women)_x,no of colors_x,Price in Rs_x,Category(Men/Women)_y,no of colors_y,Price in Rs_y
0,Air Jordan 1 Low SE,Women's Shoes,1 Colour,10 295.00,NaN,NaN,NaN
1,Air Jordan 1 Low SE,Women's Shoes,1 Colour,16 995.00,NaN,NaN,NaN
2,Air Jordan 1 Low SE,Older Kids' Shoes,2 Colours,10 295.00,NaN,NaN,NaN
3,Air Jordan 1 Low SE,Men's Slides,4 Colours,3 695.00,NaN,NaN,NaN
4,Air Jordan 1 Low SE,Men's Shoe,1 Colour,9 295.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...
143,Samba Shoes,NaN,NaN,NaN,Men originals,7 colours · new,3 299.00
144,Stan Smith Shoes,NaN,NaN,NaN,originals,4 colours,3 599.00
145,Forum Low Shoes,NaN,NaN,NaN,originals,2 colours,3 599.00
146,Y-3 Gendo Pro Model,NaN,NaN,NaN,Lifestyle,2 colours,10 999.00
147,Y-3 Gendo Pro Model,NaN,NaN,NaN,Lifestyle,2 colours,14 999.00

In [154]:
category_cols = ['Category(Men/Women)_x', 'Category(Men/Women)_y']
colors_cols = ['no of colors_x', 'no of colors_y']
price_cols = ['Price in Rs_x', 'Price in Rs_y']

In [155]:
merged_df['Category'] = merged_df[category_cols[0]].combine_first(merged_df[category_cols[1]])
merged_df['No of Colors'] = merged_df[colors_cols[0]].combine_first(merged_df[colors_cols[1]])
merged_df['Price in Rs'] = merged_df[price_cols[0]].combine_first(merged_df[price_cols[1]])

In [156]:
merged_df = merged_df.drop(category_cols + colors_cols + price_cols, axis=1)

In [169]:
print(merged_df)

                ShoeName           Category     No of Colors Price in Rs
0    Air Jordan 1 Low SE      Women's Shoes         1 Colour   10 295.00
1    Air Jordan 1 Low SE      Women's Shoes         1 Colour   16 995.00
2    Air Jordan 1 Low SE  Older Kids' Shoes        2 Colours   10 295.00
3    Air Jordan 1 Low SE       Men's Slides        4 Colours    3 695.00
4    Air Jordan 1 Low SE         Men's Shoe         1 Colour    9 295.00
..                   ...                ...              ...         ...
143          Samba Shoes      Men originals  7 colours · new    3 299.00
144     Stan Smith Shoes          originals        4 colours    3 599.00
145      Forum Low Shoes          originals        2 colours    3 599.00
146  Y-3 Gendo Pro Model          Lifestyle        2 colours   10 999.00
147  Y-3 Gendo Pro Model          Lifestyle        2 colours   14 999.00

[148 rows x 4 columns]

In [170]:

merged_df

                ShoeName           Category     No of Colors Price in Rs
0    Air Jordan 1 Low SE      Women's Shoes         1 Colour   10 295.00
1    Air Jordan 1 Low SE      Women's Shoes         1 Colour   16 995.00
2    Air Jordan 1 Low SE  Older Kids' Shoes        2 Colours   10 295.00
3    Air Jordan 1 Low SE       Men's Slides        4 Colours    3 695.00
4    Air Jordan 1 Low SE         Men's Shoe         1 Colour    9 295.00
..                   ...                ...              ...         ...
143          Samba Shoes      Men originals  7 colours · new    3 299.00
144     Stan Smith Shoes          originals        4 colours    3 599.00
145      Forum Low Shoes          originals        2 colours    3 599.00
146  Y-3 Gendo Pro Model          Lifestyle        2 colours   10 999.00
147  Y-3 Gendo Pro Model          Lifestyle        2 colours   14 999.00

[148 rows x 4 columns]

In [171]:
final_merged_df = pd.merge(merged_df, df3, on='ShoeName', how='outer')

In [172]:
final_merged_df

,ShoeName,Category,No of Colors,Price in Rs_x,Category(Men/Women),no of colors,Price in Rs_y
0,Air Jordan 1 Low SE,Women's Shoes,1 Colour,10 295.00,NaN,NaN,NaN
1,Air Jordan 1 Low SE,Women's Shoes,1 Colour,16 995.00,NaN,NaN,NaN
2,Air Jordan 1 Low SE,Older Kids' Shoes,2 Colours,10 295.00,NaN,NaN,NaN
3,Air Jordan 1 Low SE,Men's Slides,4 Colours,3 695.00,NaN,NaN,NaN
4,Air Jordan 1 Low SE,Men's Shoe,1 Colour,9 295.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...
191,Mayze Tomorrowland Fashion Women's Sneakers\nP...,NaN,NaN,NaN,women,2 COLORS,3 999.00
192,Mayze Beach Days Women's Sneakers\nPUMA White-...,NaN,NaN,NaN,women,2 COLORS,3 599.00
193,Cali Dream Starry Night Youth Sneakers\nPUMA W...,NaN,NaN,NaN,unknown,2 COLORS,3 599.00
194,Cali Dream Clean Women's Sneakers\nPUMA White-...,NaN,NaN,NaN,women,2 COLORS,10 999.00
195,Cali Court Match Women's Sneakers\nPUMA White-...,NaN,NaN,NaN,women,2 COLORS,14 999.00

In [174]:
df= final_merged_df

In [175]:
df['Category'] = df['Category'].fillna(df['Category(Men/Women)'])
df.drop(columns=['Category(Men/Women)'], inplace=True)

In [176]:
df

,ShoeName,Category,No of Colors,Price in Rs_x,no of colors,Price in Rs_y
0,Air Jordan 1 Low SE,Women's Shoes,1 Colour,10 295.00,NaN,NaN
1,Air Jordan 1 Low SE,Women's Shoes,1 Colour,16 995.00,NaN,NaN
2,Air Jordan 1 Low SE,Older Kids' Shoes,2 Colours,10 295.00,NaN,NaN
3,Air Jordan 1 Low SE,Men's Slides,4 Colours,3 695.00,NaN,NaN
4,Air Jordan 1 Low SE,Men's Shoe,1 Colour,9 295.00,NaN,NaN
...,...,...,...,...,...,...
191,Mayze Tomorrowland Fashion Women's Sneakers\nP...,women,NaN,NaN,2 COLORS,3 999.00
192,Mayze Beach Days Women's Sneakers\nPUMA White-...,women,NaN,NaN,2 COLORS,3 599.00
193,Cali Dream Starry Night Youth Sneakers\nPUMA W...,unknown,NaN,NaN,2 COLORS,3 599.00
194,Cali Dream Clean Women's Sneakers\nPUMA White-...,women,NaN,NaN,2 COLORS,10 999.00
195,Cali Court Match Women's Sneakers\nPUMA White-...,women,NaN,NaN,2 COLORS,14 999.00

In [177]:
df['No of Colors'] = df['No of Colors'].fillna(df['no of colors'])
df.drop(columns=['no of colors'], inplace=True)

In [178]:
df['Price in Rs'] = df['Price in Rs_x'].fillna(df['Price in Rs_y'])
df.drop(columns=['Price in Rs_x', 'Price in Rs_y'], inplace=True)

In [179]:
df

,ShoeName,Category,No of Colors,Price in Rs
0,Air Jordan 1 Low SE,Women's Shoes,1 Colour,10 295.00
1,Air Jordan 1 Low SE,Women's Shoes,1 Colour,16 995.00
2,Air Jordan 1 Low SE,Older Kids' Shoes,2 Colours,10 295.00
3,Air Jordan 1 Low SE,Men's Slides,4 Colours,3 695.00
4,Air Jordan 1 Low SE,Men's Shoe,1 Colour,9 295.00
...,...,...,...,...
191,Mayze Tomorrowland Fashion Women's Sneakers\nP...,women,2 COLORS,3 999.00
192,Mayze Beach Days Women's Sneakers\nPUMA White-...,women,2 COLORS,3 599.00
193,Cali Dream Starry Night Youth Sneakers\nPUMA W...,unknown,2 COLORS,3 599.00
194,Cali Dream Clean Women's Sneakers\nPUMA White-...,women,2 COLORS,10 999.00
195,Cali Court Match Women's Sneakers\nPUMA White-...,women,2 COLORS,14 999.00

In [180]:
import pandas as pd

In [181]:
df.to_csv('Table1.csv', index=False)